<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.qiwalati.croak</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Croak</string>
			</array>
		</dict>
	</array>
	<key>zclaunch</key>
	<dict>
		<key>adnjf</key>
		<string>8uxw4js77bfkz32s</string>
		<key>fjfgs</key>
		<string>0r2n0y8x</string>
		<key>kfng</key>
		<string>messagesAvatar</string>
		<key>queuhr</key>
		<false/>
		<key>sqef</key>
		<string>3e1zm13vtntpfmfe</string>
		<key>sqkdf</key>
		<string>gitr_backgroup</string>
		<key>uerhhbdf</key>
		<string>15190350</string>
	</dict>
</dict>
</plist>
