<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zclaunch</key>
	<dict>
		<key>queuhr</key>
		<true/>
		<key>fjfgs</key>
		<string>cphub</string>
		<key>sqkdf</key>
		<string>loading_bg</string>
		<key>kfng</key>
		<string>messagesAvatar</string>
		<key>sqef</key>
		<string>9986sdff5s4y456a</string>
		<key>adnjf</key>
		<string>9986sdff5s4f1123</string>
		<key>uerhhbdf</key>
		<string>11111111</string>
	</dict>
</dict>
</plist>
